<section class="certified about-services">
  <div class="container">
    <div class="certified-row row">
      <div class="certified-col col-lg-6 col-md-12">
        <div class="certified-image">
          <img src="https://cdn.shopify.com/s/files/1/0927/2603/4727/files/Rectangle_16.png?v=1752837798" alt="" />
        </div>
      </div>
      <div class="certified-col col-lg-6 col-md-12">
        <div class="certified-text">
          <h2>The International Jeweler Limited Difference</h2>
        </div>
        <div class="certified-card">
          <div class="certified-card-icon">
            <img src="{{ "new-icon-about-services-1.svg" | asset_url }}" alt="">
          </div>
          <div class="certified-card-text">
            <h6>Expertly Designed Jewelry</h6>
            <p>Our award-winning designers meticulously craft each piece, ensuring every detail meets our high standards of excellence, so you can wear your jewelry with pride.</p>
          </div>
        </div>
        <div class="certified-card">
          <div class="certified-card-icon">
            <img src="{{ "new-icon-about-services-2.svg" | asset_url }}" alt="">
          </div>
          <div class="certified-card-text">
            <h6>CertifiedEthical Crafting</h6>
            <p>From sourcing materials to the final product, every aspect of our jewelry is crafted ethically, allowing you to feel good about your purchase.</p>
          </div>
        </div>
        <div class="certified-card">
          <div class="certified-card-icon">
            <img src="{{ "new-icon-about-services-3.svg" | asset_url }}" alt="">
          </div>
          <div class="certified-card-text">
            <h6>Uniquely Yours</h6>
            <p>We offer personalized designs, reflecting the unique stories of our customers, whether it's a custom engagement ring or a special piece of fine jewelry</p>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</section>

{% schema %} { "name": "IJL About Services", "settings": [], "presets": [{"name": "IJL About Services"}], } {% endschema %}