<section class="certified">
  <div class="container">
    <div class="certified-row row">
      <div class="certified-col col-md-6">
        <div class="certified-text">
          <h2>Certified Standards, Trusted Quality</h2>
          <p>At International Jeweler Limited, we pride ourselves on adhering to the highest industry standards. Our commitment to ethical practices, quality, and transparency is reinforced by the certifications and memberships we hold. These credentials are a testament to our dedication to responsible sourcing, craftsmanship, and customer satisfaction.</p>
          <p>These certifications are just a few of the ways we maintain trust, uphold ethical standards, and deliver exceptional products to our valued customers.</p>
        </div>
      </div>
      <div class="certified-col col-md-6">
        <div class="certified-card">
          <!-- <div class="certified-card-icon">
            <img src="{{ "new-icon-mission-3.svg" | asset_url }}" alt="">
          </div> -->
          <div class="certified-card-text">
            <h6>Certified Member of the Responsible Jewelry Council (RJC)</h6>
            <p>We are a proud member of the RJC, demonstrating our commitment to responsible practices in the jewelry industry, from sourcing to production.</p>
          </div>
        </div>
        <div class="certified-card">
          <!-- <div class="certified-card-icon">
            <img src="{{ "new-icon-mission-3.svg" | asset_url }}" alt="">
          </div> -->
          <div class="certified-card-text">
            <h6>Certified ISO 9001:2015</h6>
            <p>We hold the prestigious ISO 9001:2015 certification, ensuring that we consistently meet and exceed the highest international standards for quality management.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="certificates">
      <div class="certificates-images">
        <img src="https://cdn.shopify.com/s/files/1/0927/2603/4727/files/certificate.png?v=1745400417" alt="" />
      </div>
      <div class="certificates-images">
        <img src="https://cdn.shopify.com/s/files/1/0927/2603/4727/files/certificate.png?v=1745400417" alt="" />
      </div>
      <div class="certificates-images">
        <img src="https://cdn.shopify.com/s/files/1/0927/2603/4727/files/certificate.png?v=1745400417" alt="" />
      </div>
      <div class="certificates-images">
        <img src="https://cdn.shopify.com/s/files/1/0927/2603/4727/files/certificate.png?v=1745400417" alt="" />
      </div>
    </div>
    
  </div>
</section>

{% schema %} { "name": "IJL About Certified", "settings": [], "presets": [{"name": "IJL About Certified"}], } {% endschema %}