<section class="ineezy-hamper" style="background-color: #f7ede9;">
    <div class="container">
        <div class="row ineezy-hamper-row">
            <div class="col-lg-6 col-md-12 ineezy-hamper-col">
                
                <div class="ineezy-hamper-slider">
                    <div class="ineezy-hamper-image">
                         <img src="https://cdn.shopify.com/s/files/1/0618/9246/0587/files/IMG_8020.jpg?v=1764177391" alt="greg"  />
                    </div>
                    <div class="ineezy-hamper-image">
                         <img src="https://cdn.shopify.com/s/files/1/0618/9246/0587/files/IMG_8116.jpg?v=1764182434" alt="greg"  />
                    </div>
                    <div class="ineezy-hamper-image">
                         <img src="https://cdn.shopify.com/s/files/1/0618/9246/0587/files/IMG_8115.jpg?v=1764182435" alt="greg"  />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 ineezy-hamper-col">
                <div class="ineezy-hamper-text">
                    
                    <div class="main-title">
                        <h2>Sweetheart Surprise Hamper</h2>
                        <p>Spoil your loved ones with our Sweetheart Surprise Hamper a charming bouquet-style gift filled with elegant accessories and sweet treats, perfect for any special occasion.</p>
                        <h6>🎁 Includes:</h6>
                        <p>3 Flower Clutcher | 1 Bracelet | 2 Earrings | 1 Necklace | 2 Scrunchies | 2 Kinder Joy</p>
                        <h6>📩 Customization:</h6>
                        <p>Want to personalize this hamper? <br> Feel free to contact us on Instagram or WhatsApp for custom colors, product additions, or special notes.</p>
                        <div class="button-group">
                            <a href="https://wa.me/9099232305?text=Hello%20I%20want%20to%20know%20more" class="btn btn-primary">Contact on What's App</a>
                            <a href="https://www.instagram.com/ineezy.in/" class="btn btn-primary">DM us on Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% schema %}
{
  "name": "Ineezy Hampper",

  "presets": [
    {
      "name": "Ineezy Hampper",
      "category": "Custom"
    }
  ]
}
{% endschema %}